
.page{
  margin:60px;
}
/* For mobile phones: */
/* [class*="App"] {
  width: 100%;
  background-color: green;
}  */

.title{
  text-align: center;
}

.para{
  text-align: justify;
}

.leftCol{
  float:left;
  width: 30%;
  padding-right: 30px;
    /* padding-left: 30px; */

}

.rightCol{
  float:right;
  width: 30%;
  padding-right: 30px;
    padding-left: 30px;
  
}

.centerImg{
   text-align: center;
   /* display:inline-block; */
   /* float: right; */
    /* padding-right: 30px; */
   /*padding-left: 15px; */
   /* width: 30%; */
   


  
}
.centerCol{

 display:inline-block;
  width: 30%;
  /* padding-right: 30px;
    padding-left: 30px; */
    
 
}
/* Medium Devices, Desktops */
 @media only screen and (max-width : 900px) { 
  .leftCol{
    float:none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .rightCol{
    float:none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  
  .centerCol{
   
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  
} 


   /* //Small Devices, Tablets
   @media only screen and (min-width : 600px)
{
    .smallApp{width: 100%;
      background-color: pink;
    }
  }

 
   

 */
